.App {
  text-align: center;
}

body {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

.details {
  position: relative;
  animation-name: animateIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

@keyframes animateIn {
  from {
    transform: translate(0, -10%);
  }

  to {
    transform: translate(0, 0);
  }
}
